:host {
    header {
        border-bottom: 1px solid #cccccc;
        color: #373737;
        font-family: Verdana;
        font-weight: bold;
        height: 50px;
        line-height: 50px;
    }
}